@{
	ViewData["title"] = "Expenses";
}

<h2>Expenses</h2>

<p>Hello from our View Template!</p>

<div class="">
	<table class="table table-hover">
		<tr>
			<th>#</th>
			<th>Expense</th>
			<th>Amount ($)</th>
		</tr>
		<tr>
			<td>1</td>
			<td>Dummy Expense 1</td>
			<td>$100</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Dummy Expense 2</td>
			<td>$80</td>
		</tr>
	</table>
</div>
